.u-section-1 .u-sheet-1 {
  min-height: 449px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 23px 0 26px;
}

.u-section-1 .u-image-1 {
  min-height: 400px;
  background-image: url("images/g49bde0a6318bc029a924e42dbd45043acb5691c86a3bfce32ac20e25e051701b8851a56679eeb38fc333354e5004ec62bf7fbcc1bcea37fe6c48ef5ccd59c6c5_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-shape-1 {
  width: 353px;
  height: 57px;
  background-image: none;
  margin: 114px auto 0;
}

.u-section-1 .u-text-1 {
  margin: -48px 92px 0 auto;
}

.u-section-1 .u-shape-2 {
  width: 380px;
  height: 32px;
  margin: 35px auto 0;
}

.u-section-1 .u-text-2 {
  margin: -29px auto 0;
}

.u-section-1 .u-image-2 {
  min-height: 400px;
  background-image: url("images/gd1cb467e11e88f24971f5e068e2537811276d259382de6e42dac424c9961360856f222822aec7eceb0cbc3dd5e4ecd15b6a81ca0181f9756405b8a5d29909d76_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-shape-3 {
  width: 353px;
  height: 57px;
  background-image: none;
  margin: 114px auto 0;
}

.u-section-1 .u-text-3 {
  margin: -48px auto 0;
}

.u-section-1 .u-shape-4 {
  width: 380px;
  height: 32px;
  margin: 35px auto 0;
}

.u-section-1 .u-text-4 {
  margin: -29px 89px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 379px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    min-height: 330px;
  }

  .u-section-1 .u-image-2 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 302px;
  }

  .u-section-1 .u-image-1 {
    min-height: 253px;
  }

  .u-section-1 .u-shape-1 {
    width: 300px;
  }

  .u-section-1 .u-shape-2 {
    width: 300px;
  }

  .u-section-1 .u-image-2 {
    min-height: 253px;
  }

  .u-section-1 .u-shape-3 {
    width: 300px;
  }

  .u-section-1 .u-shape-4 {
    width: 300px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 580px;
  }

  .u-section-1 .u-image-1 {
    min-height: 380px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    min-height: 380px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 439px;
  }

  .u-section-1 .u-image-1 {
    min-height: 239px;
  }

  .u-section-1 .u-image-2 {
    min-height: 239px;
  }
} .u-section-2 {
  margin-top: 20px;
}

.u-section-2 .u-sheet-1 {
  min-height: 70px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 100%;
  margin: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 640px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-form-1 {
  height: 433px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-form-group-2 {
  margin-left: 0;
}

.u-section-2 .u-form-group-4 {
  margin-left: 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  font-size: 1.5rem;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 640px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-form-2 {
  height: 534px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-form-group-7 {
  margin-left: 0;
}

.u-section-2 .u-form-group-9 {
  margin-left: 0;
}

.u-section-2 .u-form-group-10 {
  margin-left: 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  font-weight: 700;
  font-size: 1.5rem;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 318px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 122px;
  }

  .u-section-2 .u-form-1 {
    margin-top: 415px;
  }

  .u-section-2 .u-layout-cell-2 {
    background-position: 50% 50%;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 66px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 170px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-form-1 {
    margin-top: 443px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 50px;
}

.u-section-3 .u-text-1 {
  font-weight: 900;
  font-style: italic;
  margin: 0 auto;
} .u-section-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('images/gfdf5bbb3fcbc984b7367f06f085bc07011afe705aada550bba13baca1bc202bde919b2e280fad48e0867d6ecee18b89507fdde2bbf78fcdaee0d5da552be4860_1280.png');
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 687px;
}

.u-section-4 .u-group-elements-1 {
  width: 521px;
  min-height: 169px;
  margin: 144px auto 0 26px;
}

.u-section-4 .u-shape-1 {
  background-image: none;
}

.u-section-4 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 32px auto 0 47px;
}

.u-section-4 .u-group-elements-2 {
  width: 296px;
  min-height: 238px;
  margin: 24px auto 0 128px;
}

.u-section-4 .u-shape-2 {
  background-image: none;
}

.u-section-4 .u-text-2 {
  font-size: 1.75rem;
  margin: 29px 31px 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: -95px auto 60px 196px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 566px;
  }

  .u-section-4 .u-group-elements-1 {
    height: auto;
  }

  .u-section-4 .u-group-elements-2 {
    height: auto;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 434px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 326px;
  }

  .u-section-4 .u-group-elements-1 {
    margin-left: 19px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 205px;
  }

  .u-section-4 .u-group-elements-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-4 .u-group-elements-2 {
    margin-left: 44px;
  }
}